@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevent scroll */
  height: 100%;
  width: 100%;
  color: white;
}

body {
  position: relative;
}

/* Image that fills the screen without scrolling or zooming */
.bg-img {
  position: fixed; /* stays fixed to viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: left center;
  z-index: -1; /* behind your main content */
}

.bg-gradient-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* same as bg-img so it's behind content */
  background: linear-gradient(
    to right,
    rgba(0, 0, 15, 0.9) 0%,
    rgba(0, 0, 0, 0) 40%
  );
  pointer-events: none; /* let clicks go through */
}

@font-face {
  font-family: "monument-regular";
  src: url("/assets/fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
  font-family: "monument-ultrabold";
  src: url("/assets/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}

.tevaera-logo {
  width: 200px;
}

.welcome-header {
  transform: scaleY(1.1);
  font-family: "monument-regular";
  font-size: 2rem;
}

.header-description {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 1.2rem;
  .teva-logo {
    height: 15px;
  }

  span {
    font-family: "monument-regular";
    transform: scaleY(1.2);
  }
}

.form-input{
    max-width: 400px;
}
